@import "@/shared/styles/shared/variables";

.footer {
  width: 100%;
  background: $gray-color-900;

  &__inner {
    padding: 20px 0;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    color: $white-color;
    line-height: 18px;
    text-align: center;
  }
}
