$primary-font: "Inter", sans-serif;

$white-color: #fff;
$black-color: #000;

$gray-color-300: #d9d9d9;
$gray-color-500: #a7a7a7;
$gray-color-550: #8c8c8c;
$gray-color-900: #383838;
$gray-color-950: #1a1a1a;

$red-color-500: #ff0000;
